*,
*::before {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  background: #2aaee7;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  color: #101214;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  max-width: 1180px;
  padding: 20px 20px;
}

.header {
  height: 200px;
  background-color: #fff;
}

.header__inner {
  margin: 20px 10px 0px 10px;
  background-color: #fff;
}

.avatar {
  margin-right: 120px;
}

.header__info {
  display: flex;
  justify-content: space-between;
  margin: 0px 50px;
}

.student {
  color: #2aaee7;
  margin: 5px 0px 0px 0px;
}

.header__name-items1 {
  margin-right: 180px;
}

.header__name-item2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.header__items1-text {
  width: 150px;
  position: relative;
  margin-left: 15px;
}

.phone::before {
  position: absolute;
  content: "";
  background-image: url(images/icon\ phone.png);
  width: 11px;
  height: 11px;
  top: 4px;
  left: -15px;
}

.email::before {
  position: absolute;
  content: "";
  background-image: url(images/icon\ email.png);
  width: 11px;
  height: 11px;
  top: 5px;
  left: -15px;
}

.location::before {
  position: absolute;
  content: "";
  background-image: url(images/icon\ location.png);
  width: 11px;
  height: 11px;
  top: 5px;
  left: -15px;
}

.github::before {
  position: absolute;
  content: "";
  background-image: url(images/icon\ linkendin.png);
  width: 11px;
  height: 11px;
  top: 5px;
  left: -15px;
}

a {
  text-decoration: none;
  color: #101214;
}

hr {
  margin-top: 40px;
}
.main {
  background-color: #fff;
}

.main__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
}

.main__info {
  width: 350px;
  margin-left: 60px;
}

.main__info-list,
.main__skills-list {
  margin-left: 15px;
}

.main__skills {
  width: 208px;
  margin-top: -39px;
  margin-right: 110px;
}

.info__title {
  font-size: 10px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #73808d;
  border-bottom: 1px solid #73808d;
}

.main__items-date {
  font-size: 8px;
  line-height: 14px;
  letter-spacing: 2px;
  color: #73808d;
}

.footer {
  background-color: #fff;
  padding: 50px 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
